{% extends 'base.jinja' %}

{% block content %}

<p>Signup for searcholo.gy</p>

<form method="POST" action="">
    {{ form.csrf_token }}
    <p>{{ form.email.label }} {{ form.email(size=50) }}</p>
    <p>{{ form.username.label }} {{ form.username(size=50) }}</p>
    <p>{{ form.passphrase.label }} {{ form.passphrase(size=50) }}</p>
    <input type="submit" value="submit">
</form>

{% endblock %}