topia.termextract==1.1.0
git+git://github.com/eadmundo/python-boilerpipe.git#egg=boilerpipe
Scrapy==0.16.4
SQLAlchemy==0.8.1
psycopg2==2.5
alembic==0.5.0
-e git+git://github.com/nickstenning/honcho.git#egg=honcho
celery==3.0.19
pyes==0.20.0
rawes==0.5.2
Flask-Login==0.2.3
Flask-Principal==0.4.0
Flask-Script==0.5.3
Flask-WTF==0.8.3
nltk==2.0.4
py-bcrypt==0.3
Flask-SQLAlchemy==0.16
Flask-DebugToolbar==0.8.0