{% extends 'base.jinja' %}

{% block header %}
<h1>Welcome</h1>
{% endblock %}

{% block content %}
<form action="" method="post">
    {{ form.csrf_token }}
    {{ form.username.label }}
    {{ form.username }}<br>
    {{ form.passphrase.label }}
    {{ form.passphrase }}
    <button type="submit" class="btn">Login</button>
</form>

{% endblock %}
