{% extends 'base.jinja' %}

{% block header %}
<h1>Welcome</h1>
{% endblock %}

{% block content %}
<form action="" method="post">
    {{ form.csrf_token }}
    {{ form.username.label }}
    {{ form.username }}<br>
    {{ form.passphrase.label }}
    {{ form.passphrase }}
    <button type="submit" class="btn">Login</button>
</form>

<h2>Don't have an account?</h2>
<a href="{{ url_for('users.signup') }}" class="btn btn-primary">Create New Account</a>
{% endblock %}
